.DS_store
.*.un~
*.swp
/pretashop
/a12modules
/a12theme
*.pyc
/web2py/gluon/contrib/
/web2py/applications/*/databases
/web2py/applications/*/errors
/web2py/applications/*/sessions
httpserver.log
parameters_*.py
*.w2p
