{{extend 'layout.html'}}
<!--Content-->
<h1>Products</h1>
<table>
{{for p in products:}}
  <tr>
    <td><h2>{{=p.name}} - ${{=p.price}}</h2></td>
    <td><img src="{{=URL('download',args=p.image)}}" height="100px"/></td>
    <td>{{=MARKMIN(p.description)}}</td>    
    <td><span id="{{="item%s"%p.id}}">{{=session.cart.get(p.id,0)}}</span> in cart - {{=A('add to cart',callback=URL('cart_callback',vars=dict(id=p.id,action='add')),target='item%s'%p.id,_class='button pill')}}</td>
  </tr>  
{{pass}}
</table>

<h1>Products in PinBoard Style</h1>
<div id="pins">
{{for p in products:}}
  <div class="pin">
    <a href="{{=URL('download',args=p.image)}}" >
      <img class="image-wrapper" src="{{=URL('download',args=p.image)}}" width="220px"/>
    </a>
    <div class="pin-footer clearfix"> 
      <div>
        {{=p.name}} - ${{=p.price}}
      </div>
    </div>
  </div>
{{pass}}
</div>
<div class="spinner"></div>
<!--End Content-->
<!--Templates-->
<script id="pins-template" type="text/x-handlebars-template"></script>
<script type="text/javascript">
  $('#pins-template').load('{{=URL('static','pin.hbs')}}')
</script>
<!--End Templates-->
<script src="{{=URL('static','js/web2pin.js')}}" type="text/javascript">
</script>

{{block statusbar}}
<div>
  <ul class="sf-menu sf-js-enabled sf-shadow">
    <li><a href="#">New Box</a></li>
    <li><a href="#">Brands</a></li>
    <li><a href="#">Top Lists</a></li>
    <li><a href="#">Hello</a></li>
    <li><a href="#">World</a></li>
  </ul>
</div>

<!-- AddToAny BEGIN -->
<div style="float:right; padding-top: .25em;" class="a2a_kit a2a_default_style">
  <a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a></div>
  <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
{{end}}

{{block footer}}
<h1>foooter goes here</h1>
{{end}}
